@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black-10: rgba(204, 204, 209, 1);
  --black-100: rgba(0, 0, 5, 1);
  --black-20: rgba(170, 170, 179, 1);
  --black-30: rgba(128, 128, 140, 1);
  --black-40: rgba(86, 85, 102, 1);
  --black-50: rgba(43, 43, 64, 1);
  --black-60: rgba(1, 0, 22, 1);
  --black-70: rgba(1, 0, 17, 1);
  --black-80: rgba(1, 0, 13, 1);
  --black-90: rgba(0, 0, 9, 1);
  --black-base: rgba(1, 0, 26, 1);
  --bold-1-font-family: "Whyte", Helvetica;
  --bold-1-font-size: 24px;
  --bold-1-font-style: normal;
  --bold-1-font-weight: 700;
  --bold-1-letter-spacing: 0px;
  --bold-1-line-height: 36px;
  --bold-2-font-family: "Whyte", Helvetica;
  --bold-2-font-size: 20px;
  --bold-2-font-style: normal;
  --bold-2-font-weight: 700;
  --bold-2-letter-spacing: 0px;
  --bold-2-line-height: 30px;
  --bold-3-font-family: "Whyte", Helvetica;
  --bold-3-font-size: 16px;
  --bold-3-font-style: normal;
  --bold-3-font-weight: 700;
  --bold-3-letter-spacing: 0px;
  --bold-3-line-height: 24px;
  --bold-4-font-family: "Whyte", Helvetica;
  --bold-4-font-size: 14px;
  --bold-4-font-style: normal;
  --bold-4-font-weight: 700;
  --bold-4-letter-spacing: 0px;
  --bold-4-line-height: 21px;
  --bold-5-font-family: "Whyte", Helvetica;
  --bold-5-font-size: 12px;
  --bold-5-font-style: normal;
  --bold-5-font-weight: 700;
  --bold-5-letter-spacing: 0px;
  --bold-5-line-height: 18px;
  --error: rgba(220, 2, 52, 1);
  --extra-bold-1-font-family: "Whyte", Helvetica;
  --extra-bold-1-font-size: 24px;
  --extra-bold-1-font-style: normal;
  --extra-bold-1-font-weight: 400;
  --extra-bold-1-letter-spacing: 0px;
  --extra-bold-1-line-height: 36px;
  --extra-bold-2-font-family: "Whyte", Helvetica;
  --extra-bold-2-font-size: 20px;
  --extra-bold-2-font-style: normal;
  --extra-bold-2-font-weight: 400;
  --extra-bold-2-letter-spacing: 0px;
  --extra-bold-2-line-height: 30px;
  --extra-bold-3-font-family: "Whyte", Helvetica;
  --extra-bold-3-font-size: 16px;
  --extra-bold-3-font-style: normal;
  --extra-bold-3-font-weight: 400;
  --extra-bold-3-letter-spacing: 0px;
  --extra-bold-3-line-height: 24px;
  --extra-bold-4-font-family: "Whyte", Helvetica;
  --extra-bold-4-font-size: 14px;
  --extra-bold-4-font-style: normal;
  --extra-bold-4-font-weight: 400;
  --extra-bold-4-letter-spacing: 0px;
  --extra-bold-4-line-height: 21px;
  --extra-bold-5-font-family: "Whyte", Helvetica;
  --extra-bold-5-font-size: 12px;
  --extra-bold-5-font-style: normal;
  --extra-bold-5-font-weight: 400;
  --extra-bold-5-letter-spacing: 0px;
  --extra-bold-5-line-height: 18px;
  --grey-10: rgba(252, 252, 252, 1);
  --grey-100: rgba(48, 48, 48, 1);
  --grey-20: rgba(250, 250, 250, 1);
  --grey-30: rgba(248, 248, 248, 1);
  --grey-40: rgba(246, 246, 246, 1);
  --grey-50: rgba(243, 243, 243, 1);
  --grey-60: rgba(201, 201, 201, 1);
  --grey-70: rgba(161, 161, 161, 1);
  --grey-80: rgba(121, 121, 121, 1);
  --grey-90: rgba(80, 80, 80, 1);
  --grey-base: rgba(241, 241, 241, 1);
  --light-1-font-family: "Whyte", Helvetica;
  --light-1-font-size: 24px;
  --light-1-font-style: normal;
  --light-1-font-weight: 300;
  --light-1-letter-spacing: 0px;
  --light-1-line-height: 36px;
  --light-2-font-family: "Whyte", Helvetica;
  --light-2-font-size: 20px;
  --light-2-font-style: normal;
  --light-2-font-weight: 300;
  --light-2-letter-spacing: 0px;
  --light-2-line-height: 30px;
  --light-3-font-family: "Whyte", Helvetica;
  --light-3-font-size: 16px;
  --light-3-font-style: normal;
  --light-3-font-weight: 300;
  --light-3-letter-spacing: 0px;
  --light-3-line-height: 24px;
  --light-4-font-family: "Whyte", Helvetica;
  --light-4-font-size: 14px;
  --light-4-font-style: normal;
  --light-4-font-weight: 300;
  --light-4-letter-spacing: 0px;
  --light-4-line-height: 21px;
  --light-5-font-family: "Whyte", Helvetica;
  --light-5-font-size: 12px;
  --light-5-font-style: normal;
  --light-5-font-weight: 300;
  --light-5-letter-spacing: 0px;
  --light-5-line-height: 18px;
  --link: rgba(58, 148, 254, 1);
  --medium-1-font-family: "Whyte", Helvetica;
  --medium-1-font-size: 24px;
  --medium-1-font-style: normal;
  --medium-1-font-weight: 500;
  --medium-1-letter-spacing: 0px;
  --medium-1-line-height: 36px;
  --medium-2-font-family: "Whyte", Helvetica;
  --medium-2-font-size: 20px;
  --medium-2-font-style: normal;
  --medium-2-font-weight: 500;
  --medium-2-letter-spacing: 0px;
  --medium-2-line-height: 30px;
  --medium-3-font-family: "Whyte", Helvetica;
  --medium-3-font-size: 16px;
  --medium-3-font-style: normal;
  --medium-3-font-weight: 500;
  --medium-3-letter-spacing: 0px;
  --medium-3-line-height: 24px;
  --medium-4-font-family: "Whyte", Helvetica;
  --medium-4-font-size: 14px;
  --medium-4-font-style: normal;
  --medium-4-font-weight: 500;
  --medium-4-letter-spacing: 0px;
  --medium-4-line-height: 21px;
  --medium-5-font-family: "Whyte", Helvetica;
  --medium-5-font-size: 12px;
  --medium-5-font-style: normal;
  --medium-5-font-weight: 500;
  --medium-5-letter-spacing: 0px;
  --medium-5-line-height: 18px;
  --primary-10: rgba(205, 237, 251, 1);
  --primary-100: rgba(1, 33, 47, 1);
  --primary-20: rgba(171, 226, 249, 1);
  --primary-30: rgba(129, 211, 245, 1);
  --primary-40: rgba(88, 196, 242, 1);
  --primary-50: rgba(46, 182, 239, 1);
  --primary-60: rgba(3, 139, 197, 1);
  --primary-70: rgba(3, 111, 157, 1);
  --primary-80: rgba(2, 84, 118, 1);
  --primary-90: rgba(1, 56, 79, 1);
  --primary-base: rgba(4, 167, 236, 1);
  --regular-1-font-family: "Whyte", Helvetica;
  --regular-1-font-size: 24px;
  --regular-1-font-style: normal;
  --regular-1-font-weight: 400;
  --regular-1-letter-spacing: 0px;
  --regular-1-line-height: 36px;
  --regular-2-font-family: "Whyte", Helvetica;
  --regular-2-font-size: 20px;
  --regular-2-font-style: normal;
  --regular-2-font-weight: 400;
  --regular-2-letter-spacing: 0px;
  --regular-2-line-height: 30px;
  --regular-3-font-family: "Whyte", Helvetica;
  --regular-3-font-size: 16px;
  --regular-3-font-style: normal;
  --regular-3-font-weight: 400;
  --regular-3-letter-spacing: 0px;
  --regular-3-line-height: 24px;
  --regular-4-font-family: "Whyte", Helvetica;
  --regular-4-font-size: 14px;
  --regular-4-font-style: normal;
  --regular-4-font-weight: 400;
  --regular-4-letter-spacing: 0px;
  --regular-4-line-height: 21px;
  --regular-5-font-family: "Whyte", Helvetica;
  --regular-5-font-size: 12px;
  --regular-5-font-style: normal;
  --regular-5-font-weight: 400;
  --regular-5-letter-spacing: 0px;
  --regular-5-line-height: 18px;
  --secondary-10: rgba(215, 214, 227, 1);
  --secondary-100: rgba(11, 10, 23, 1);
  --secondary-20: rgba(188, 187, 209, 1);
  --secondary-30: rgba(154, 152, 185, 1);
  --secondary-40: rgba(120, 118, 162, 1);
  --secondary-50: rgba(87, 84, 139, 1);
  --secondary-60: rgba(44, 42, 97, 1);
  --secondary-70: rgba(35, 33, 77, 1);
  --secondary-80: rgba(27, 25, 58, 1);
  --secondary-90: rgba(18, 17, 39, 1);
  --secondary-base: rgba(53, 50, 116, 1);
  --success: rgba(35, 141, 17, 1);
  --warning: rgba(233, 153, 60, 1);
}
